- stat = player.career_stat

- if player.hitter?
  .cell
    %label WAR
    .stat= stat.war&.round(1)
  .cell
    %label OPS+
    .stat= stat.ops_plus
  .cell
    %label OPS
    .stat= format_avg(stat.ops&.round(3))
  .cell
    %label HR
    .stat= stat.hr
  .cell
    %label RBI
    .stat= stat.rbi
  .cell
    %label H
    .stat= stat.h

- if player.pitcher?
  .cell
    %label WAR
    .stat= stat.war&.round(1)
  .cell
    %label WHIP
    .stat= stat.whip&.round(3)
  .cell
    %label IP
    .stat= stat.ip&.round(1)
  .cell
    %label W
    .stat= stat.w
  .cell
    %label L
    .stat= stat.l
  .cell
    %label SO
    .stat= stat.so
