.grid-x.grid-padding-x
  .small-12.cell
    = render 'selector', player: @player


    %h4 Most Similar By Career
    .grid-x.grid-margin-x.grid-career
      .medium-6.mediumplus-5.cell
        - if @player.similar_careers.none?
          %em no similar career data
        - else
          %ul.no-bullet.similar-career-players
            - @player.similar_careers.each do |similar_career|
              = render 'player_list_item', player: similar_career.related_player, score: similar_career.score


      .medium-6.mediumplus-7.cell
        .grid-x.grid-padding-x.player-meta
          .small-12.cell
            .player-card.clearfix
              %span.image.float-left
                = image_tag @player.image if @player.image.present?

              %span.summary.float-left
                %h5.name
                  = @player.name
                  = content_tag(:i, nil, class: 'fas fa-star') if @player.hof
                %h6.years= active_years(@player)
                %p= link_to_baseball_reference(@player)




    .grid-x.grid-margin-x.grid-age
      .small-12.cell
        %h4 Most Similar By Age

        - if @player.similar_age_years.none?
          %em no similar age data
        - else
          %ul.tabs{'data-tabs': true, id: 'age-tabs'}
            - @player.similar_age_years.each_with_index do |year, i|
              %li.tabs-title{class: i==0 ? 'is-active' : ''}= link_to(year, "#panel-#{year}")

          .tabs-content{'data-tabs-content': 'age-tabs'}
            - @player.similar_ages.group_by(&:age).each_with_index do |(year, similar_age_collection), i|
              .tabs-panel{id: "panel-#{year}", class: i==0 ? 'is-active' : ''}

                .grid-x.grid-margin-x
                  .medium-6.mediumplus-5.cell
                    %h5= "Age #{year}"
                    %ul.no-bullet.similar-age-players
                      - similar_age_collection.each do |similar_age|
                        = render 'player_list_item', player: similar_age.related_player, score: similar_age.score

                  .medium-6.mediumplus-7.cell
