!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Similarity Scores"
    = csrf_meta_tag

    -# = stylesheet_link_tag "application"
    -# = javascript_include_tag "application", "data-turbolinks-track" => true

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:400,400italic,300italic,300,700,700italic'


    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css'

    = stylesheet_link_tag '//use.fontawesome.com/releases/v5.0.8/css/all.css', 'integrity': "sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S", 'crossorigin': 'anonymous'
  %body
    = render 'common/browser_update'

    .grid-container
      = render 'common/header'

      = yield
