!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Similarity Scores"
    = csrf_meta_tag

    -# = stylesheet_link_tag "application"
    -# = javascript_include_tag "application", "data-turbolinks-track" => true

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js'

    = style_sheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css'

  %body
    = yield
